
.electronics_container{
    width:100%;
    height:100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.product_images{
    width:100%;
    padding:0px 20px 0px 20px;
    display:flex;
}
.product_images img{
    width:98%;
    height:200px;
   
}
.images_child{
    width:98%;
}
.products_heading{
    /* margin-top: 1rem; */
    padding: 10px 0px 10px 20px;
    background-color: #f2f4f6;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color:rgb(44 44 95)
}
.carousel img{
    width:100%;
    height:30rem;
 
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0px;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5% !important;
    padding: 0;
    color: #eee;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: 2.5 !important;
    transition: opacity .15s ease;
}




